html, body {
  width: 100%;
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-width: 960px;
  font-family: 'Open Sans', lucida, sans;
  font-size: 14px;
  color: #FFF;
  clear: both;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 48px;
  margin-top: 0;
}

h2 {
  font-size: 18px;
}

a { color: white; }
a:hover { color: #e94e1b; }

.l-background {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background: url('../images/background.jpg') center center no-repeat;
  background-size: cover;
  z-index: -9999;
}

.l-wrapper {
  width: 960px;
  margin: 0 auto;
}

.l-header {
  float: right;
  line-height: 60px;
}

.l-footer {
  height: 60px;
  vertical-align: middle;
}

.phone-number {
  font-weight: 600;
}

.promo-text {
  width: 480px;
  min-height: 400px;
  padding-top: 140px;
  padding-left: 480px;
  background: url('../images/holy-bible-closed.png') left top no-repeat;
}
.promo-text > h1 { margin-left: -5px; }
.promo-text > h2 { margin-top: 2em; }


.gallery {
  width: 480px;
  min-height: 410px;
  padding-left: 480px;
  background: url('../images/holy-bible-opened.png') left top no-repeat;
}

.image-preview {
  text-decoration: none;
}

.image-preview img {
  display: block;
  float: left;
  margin: 25px 25px 0 0;
  border: 1px solid #000;
}

.order {
  text-align: center;
}

.order-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 30px;
  width: auto;
  font-size: 16px;
  text-decoration: none;
  background-color: #e94e1b;
}

.order-btn:hover { color: #CCC; }

.hero {
  margin-top: 160px;
  width: 100%;
}

.contacts {
  float: right;
  margin: 0;
  height: 60px;
  font-size: 10px;
}
.contacts > li {
  float: left;
  margin-right: 25px;
  padding: 0 0 0 5px;
  color: #e94e1b;
  line-height: 58px;
}
.contacts > li:first-child { list-style: none; }
.contacts > li > span { color: white; }

.contacts-logo {
  display: block;
  height: 58px;
}